<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

    <header th:replace="header/header :: header"></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="sticky-top mt-3">
                    <div class="card mb-3 border border-dark " style="max-width: 100%; --bs-border-opacity: .5;" >
                        <form action="#" th:action="@{/hoteles/listarfiltro}" th:object="${habitacion}" method="get">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="fw-bolder">Tu presupuesto: </p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:field="*{precioBase}" th:value=0>
                                        <label class="form-check-label" for="inlineRadio1"> 0€ - 50€</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:field="*{precioBase}" th:value=50>
                                        <label class="form-check-label" for="inlineRadio2"> 50€ - 100€</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" th:field="*{precioBase}" th:value=100>
                                        <label class="form-check-label" for="inlineRadio3"> 100€ - 150€</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" th:field="*{precioBase}" th:value=150>
                                        <label class="form-check-label" for="inlineRadio3"> 150€ - 200€</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" th:field="*{precioBase}" th:value=200>
                                        <label class="form-check-label" for="inlineRadio3"> + 200€</label>
                                    </div>
                                </div>
                                <form action="#" th:action="@{/hoteles/listarfiltro}" th:object="${hoteles}" method="get">
                                <div class="card-body">
                                    <p class="fw-bolder">Puntuación: </p>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="puntuacion" id="puntuacion1" th:field="*{estrellas}" th:value=1>
                                        <label class="form-check-label" for="inlineRadio3">Normal: 1</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="puntuacion" id="puntuacion2" th:field="*{estrellas}" th:value=2>
                                        <label class="form-check-label" for="inlineRadio3">Agradable: 2</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="puntuacion" id="puntuacion4" th:field="*{estrellas}" th:value=3>
                                        <label class="form-check-label" for="inlineRadio3">Bien: 3</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="puntuacion" id="puntuacion5" th:field="*{estrellas}" th:value=4>
                                        <label class="form-check-label" for="inlineRadio3">Muy bien: 4</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="puntuacion" id="puntuacion6" th:field="*{estrellas}" th:value=5>
                                        <label class="form-check-label" for="inlineRadio3">Fantástico: 5</label>
                                    </div>
                                </div>
                                    <form action="#" th:action="@{/hoteles/listarfiltro}" th:object="${habitacion}" method="get">
                                    <div class="card-body">
                                    <p class="fw-bolder">Instalaciones: </p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions1" th:field="*{wifi}" id="instalacion" value="">
                                        <label class="form-check-label" for="inlineRadio1"> WiFi</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions2" th:field="*{cajaFuerte}"id="instalacion1" value="">
                                        <label class="form-check-label" for="inlineRadio2"> Caja Fuerte</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions3" th:field="*{cocina}"id="instalacion2" value="">
                                        <label class="form-check-label" for="inlineRadio3"> Cocina</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions4" th:field="*{banioPrivado}"id="instalacion3" value="">
                                        <label class="form-check-label" for="inlineRadio3"> Baño privado</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions5" id="instalacion4" th:field="*{aireAcondicionado}" value="">
                                        <label class="form-check-label" for="inlineRadio3"> Aire acondicionado</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions5" id="instalacion5" th:field="*{tv}" value="">
                                        <label class="form-check-label" for="inlineRadio3"> Televisión</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions5" id="instalacion6" th:field="*{terraza}" value="">
                                        <label class="form-check-label" for="inlineRadio3"> Terraza</label>
                                    </div>
                                        <div class="col-md-0 mt-sm-0 mt-md-3">
                                            <input type="submit" value="Buscar"  class="btn btn-primary btn-block text-white col-20">
                                        </div>
                                </div>
                                </form>
                                </form>
                            </div>
                        </form>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-9 mt-5">

                <div th:if="${#lists.isEmpty(hotel)}" class="alert alert-danger">
                    <p>Lo sentimos, no existe ningún hotel que cumpla con los requisitos de su búsqueda.</p>
                </div>

                <div class="card mb-5 text-bg-dark" th:each="hoteles: ${hotel}">

                    <div class="card-header text-center">
                        <span th:text="${hoteles.nombre}"> </span>
                    </div>
                    <div class="row mb-3">
                    <div class="col-md-5 mx-3 mt-3 ">
                        <div>
                            <img th:if="${#strings.length(hoteles.imagen)>0} and ${!hoteles.imagen.contains('https')}" class="card-img-top"  th:src="@{'/uploads/' + ${hoteles.imagen}}" th:alt="${hoteles.imagen}"/>
                            <img th:if="${hoteles.imagen.contains('https')}" th:src="${hoteles.imagen}" class="card-img-top" alt="..." >
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card-body">
                            <h5 th:if="${hoteles.estrellas == 1}" class="card-title"><span class="fw-semibold">Estrellas: ⭐</span> </h5>
                            <h5 th:if="${hoteles.estrellas == 2}" class="card-title"><span class="fw-semibold">Estrellas: ⭐⭐</span> </h5>
                            <h5 th:if="${hoteles.estrellas == 3}" class="card-title"><span class="fw-semibold">Estrellas: ⭐⭐⭐</span> </h5>
                            <h5 th:if="${hoteles.estrellas == 4}" class="card-title"><span class="fw-semibold">Estrellas: ⭐⭐⭐⭐</span> </h5>
                            <h5 th:if="${hoteles.estrellas == 5}" class="card-title"><span class="fw-semibold">Estrellas: ⭐⭐⭐⭐⭐</span> </h5>



                            <p class="card-text "><span th:text="${hoteles.ciudad}"></span>, <span th:text="${hoteles.lugar}"></span></p>
                            <p class="card-text "><span th:text="${hoteles.precio} + '€'"></span></p>
                            <div class="card-body">
                                <a th:href="@{'/hoteles/habitacion/' + ${hoteles.id}}" class="btn btn-primary">Ver disponibilidad</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</div>
</body>
</html>