<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title th:text="${titulo}"></title>
</head>
<body>

  <header th:replace="header/header :: header"></header>

  <div class="container d-flex justify-content-center">
  <div class="card mt-5 mb-5" style="width: 50%;">

    <form th:action="@{/reserva/crear}" th:object="${pensionHotel}" method="post" enctype="multipart/form-data">

      <div th:if="${habitacion.imagen != null}">
        <img th:if="${!habitacion.imagen.contains('https')}" class="img-thumbnail rounded float-start w-100" th:src="@{'/uploads/' + ${habitacion.imagen}}" th:alt="${habitacion.imagen}"/>
        <img th:if="${habitacion.imagen.contains('https')}" th:src="${habitacion.imagen}" class="img-thumbnail rounded float-start w-100" alt="..." >
      </div>
      <div class="card-body">
        <h5 class="card-title">Hotel <span th:text="${habitacion.getHotel().getNombre()}"></span></h5>
        <p class="card-text" th:text="${habitacion.getDescripcion()}"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="'Capacidad: '+${habitacion.getCapacidad()}"></li>
        <li class="list-group-item" th:if="${precioPension}" th:text="'Precio: '+${habitacion.getPrecioBase() * dias + precioPension}"></li>
        <li class="list-group-item" th:unless="${precioPension}" th:text="'Precio: '+${habitacion.getPrecioBase() * dias}"></li>
        <li class="list-group-item">Dispone de:
          <ul>
            <li th:if="${habitacion.isCajaFuerte()}">Caja Fuerte</li>
            <li th:if="${habitacion.isAireAcondicionado()}">Aire Acondicionado</li>
            <li th:if="${habitacion.isBanioPrivado()}">Baño Privado</li>
            <li th:if="${habitacion.isCocina()}">Cocina</li>
            <li th:if="${habitacion.isTerraza()}">Terraza</li>
            <li th:if="${habitacion.isTv()}">Tv</li>
            <li th:if="${habitacion.isWifi()}">WiFi</li>
          </ul>
        </li>
        <li class="list-group-item" th:text="'Número de días: '+${dias}"></li>
        <li class="list-group-item">
          <p>Selecciona pensión:</p>

          <div class="input-group mb-3">
            <select name="pension">
              <option th:each="pensionOpt : ${T(com.example.booking.models.EPension).values()}"
                      th:value="${pensionOpt}" th:text="${pensionOpt.displayValue}"></option>
            </select>
          </div>
        </li>
      </ul>
        <input type="submit" value="Calcular Precio" class="btn btn-block btn-primary mx-3">

    </form>
    <form th:action="@{/reserva/nuevo/{id}(id=${habitacion.getId()})}" th:object="${reserva}"  method="post">
      <button href="#" class="btn btn-success">Reservar</button>
    </form>
    <a class="btn btn-danger" th:href="@{/}">Cancelar</a>

  </div>
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>