<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title th:text="${titulo}"></title>
</head>
<body>

<header th:replace="header/header :: header"></header>

<div class="container-fluid">
  <h2 class="text-center mt-4">Confirmar Reserva</h2>

  <form th:action="@{/reserva/crear}" th:object="${pensionHotel}" method="post" enctype="multipart/form-data" class="mt-4">

    <div class="row">

      <div class="col-md-6 col-none" th:if="${habitacion.imagen != null}">

        <img th:if="${!habitacion.imagen.contains('https')}" class="img-thumbnail rounded float-start w-100" th:src="@{'/uploads/' + ${habitacion.imagen}}" th:alt="${habitacion.imagen}"/>
        <img th:if="${habitacion.imagen.contains('https')}" th:src="${habitacion.imagen}" class="img-thumbnail rounded float-start w-100" alt="..." >

      </div>

      <div class="col-md-6 col-12">

        <div class="container-fluid">
          <div class="row">
            <div>
              <h2 class="col" th:text="${habitacion.getHotel().getNombre()}"></h2>
              <hr>
              <div class="col">
                <p class="card-text" th:text="${habitacion.descripcion}"></p>
              </div>
              <div class="col mt-2">
                <p class="fw-semibold fs-6" th:text="'Capacidad : '+${habitacion.getCapacidad()}"></p>
              </div>
              <div class="col">
                <p class="list-group-item fw-semibold fs-6"  th:if="${precioPension}" th:text="'Precio total : '+${habitacion.getPrecioBase() + dias + precioPension} + '€'"></p>
              </div>
              <div class="col">
                <p class="list-group-item fw-semibold fs-6" th:unless="${precioPension}" th:text="'Precio total : '+${habitacion.getPrecioBase()} + '€'" ></p>
              </div>
              <div>
                <span class="fw-semibold fs-6">Dispone de : </span>
                <span class="badge text-bg-primary"  th:if="${habitacion.wifi}">Wifi</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.tv}">TV</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.terraza}">Terraza</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.cocina}">Cocina</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.banioPrivado}">Baño</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.aireAcondicionado}">Aire Acondicionado</span>
                <span class="badge text-bg-primary"  th:if="${habitacion.cajaFuerte}">Caja Fuerte</span>
              </div>

              <div class="col mt-2">
                <p class="list-group-item fw-semibold fs-6" th:text="'Número de días : '+${dias}"></p>
              </div>
              <div class="col mt-4">
                <p class="fw-semibold fs-6">Seleciona la pensión</p>
                <select name="pension">
                  <option th:each="pensionOpt : ${T(com.example.booking.models.EPension).values()}"
                          th:value="${pensionOpt}" th:text="${pensionOpt.displayValue}"></option>
                </select>
                <input type="submit" value="Calcular Precio" class="btn btn-block btn-primary btn-sm mx-3">
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5" style="margin-right: 460px">
    <form class="me-md-end" th:action="@{/reserva/nuevo/{id}(id=${habitacion.getId()})}" th:object="${reserva}"  method="post">
      <button href="#" class="btn btn-success">Reservar</button>
    </form>
    <div class="">
      <a class="btn btn-danger" th:href="@{/}">Cancelar</a>
    </div>
  </div>


</div>

<footer th:replace="footer/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>