<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title th:text="${titulo}"></title>
    <title>Listado de Hoteles</title>
    <style>
        .estre{ color:grey; width: 20px}
        input[type = "radio"]{ display:none; }
        .estre:hover{color:orange; }
        .estre:hover ~ label{color:orange;}
        input[type = "radio"]:checked ~ label{color:orange;}
        .clasificacion{
            direction: rtl;/* right to left */
            unicode-bidi: bidi-override;/* bidi de bidireccional */
        }
    </style>
</head>
<body>
<header th:replace="header/header :: header"></header>

    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6 bg-light cl-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center mt-2">Registro de Hotel</h1>
                <div class="card-body">
                  <form th:action="@{/hoteles/nuevo}" th:object="${hotel}" method="POST", enctype="multipart/form-data">

                      <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{habitaciones}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('comentario')}" th:errors="*{comentario}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('estrellas')}" th:errors="*{estrellas}" class="alert alert-danger"></div>
                      <div th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}" class="alert alert-danger"></div>

                      <div class="form-group">
                          <label th:text="#{text.hotel.nombre}">Nombre: </label>
                          <input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Ponga aquí el nombre"  required>
                          <br>
                          <label th:text="#{text.hotel.ciudad}">Ciudad: </label>
                          <select class="form-select" name="ciudad"  placeholder="Escoja la ciudad" th:field="*{ciudad}" required>
                              <option value="Sevilla">Sevilla</option>
                              <option value="Cádiz" >Cádiz</option>
                              <option value="Huelva">Huelva</option>
                              <option value="Granada">Granada</option>
                              <option value="Córdoba">Córdoba</option>
                              <option value="Málaga">Málaga</option>
                              <option value="Almería">Almería</option>
                              <option value="Jaén">Jaén</option>
                          </select>
                          <br>
                          <label th:text="#{text.hotel.lugar}">Lugar: </label>
                          <input type="text" name="lugar" th:field="*{lugar}" class="form-control" placeholder="Ponga aquí el lugar" required>
                          <br>
                          <label th:text="#{text.hotel.numero_habitaciones}">Habitaciones: </label>
                          <input type="number" name="habitacion" th:field="*{numero_habitaciones}" class="form-control" placeholder="Ponga aquí el numero de habitaciones" required>
                          <br>
                          <label th:text="#{text.hotel.precio}">Precio: </label>
                          <input type="number" name="precio" th:field="*{precio}" class="form-control" placeholder="Ponga aquí el precio de una noche" required>
                          <br>
                          <label th:text="#{text.hotel.telefono}">Teléfono: </label>
                          <input type="text" name="telefono" th:field="*{telefono}" class="form-control" placeholder="Ponga aquí el teléfono" required>
                          <br>
                          <label th:text="#{text.hotel.cif}">CIF: </label>
                          <input type="text" name="cif" th:field="*{cif}" class="form-control" placeholder="Ponga aquí el CIF" required>
                          <br>
                          <label th:text="#{text.hotel.comentario}">Comentario: </label>
                          <input type="text" name="comentario" th:field="*{comentario}" class="form-control" placeholder="Ponga aquí un comentario" required>
                          <br>
                          <label>Estrellas:
                              <label class="clasificacion" th:field="*{estrellas}" required>
                                  <input id="radio1" type="radio" name="estrellas" th:value="5"> <!--
                                --><label class="estre" for="radio1">★</label><!--
                                --><input id="radio2" type="radio" name="estrellas" th:value="4"><!--
                                --><label class="estre" for="radio2">★</label><!--
                                --><input id="radio3" type="radio" name="estrellas" th:value="3"><!--
                                --><label class="estre" for="radio3">★</label><!--
                                --><input id="radio4" type="radio" name="estrellas" th:value="2"><!--
                                --><label class="estre" for="radio4">★</label><!--
                                --><input class="estre" id="radio5" type="radio" name="estrellas" th:value="1"><!--
                                --><label class="estre" for="radio5">★</label>
                              </label>
                          </label>


                      </div>
                      <br>
                      <div class="form-group mb-3 col-10 ">
                          <label th:text="#{text.hotel.imagen}">Imagen</label>
                          <input type="file" name="file" class="form-control">
                      </div>
                      <br>
                      <div class="box-footer">
                          <button class="btn btn-success">Crear</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>



</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>