<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title th:text="${titulo}"></title>
</head>
<body>

<div class="prueba">

    <div class="container-fluid d-none d-sm-block p-3">

        <div class="row">

            <nav class="navbar">
                <div class="col-3 p-2">
                    <a href="#" class="text-white fw-bold fs-4 text-decoration-none ml-5">
                        PLANET TRAVEL
                    </a>
                </div>
                <div class="col-9 p-2">
                    <a href="#" class="btn btn-primary float-end m-2">Iniciar sesion</a>
                    <a href="#" class="btn btn-primary float-end m-2">Registrarse</a>
                </div>
            </nav>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark d-block d-sm-none">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Registrase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 p-5">
            <div class="row p-1">
                   <div class="row p-4">
                       <div class="col-md-4 mb-3 mb-md-0">
                           <div class="container">
                               <div class="row">
                                   <div class="col-md-12 mb-2">
                                       <form action="#" th:action="@{/}" th:object="${hotel}" method="post">
                                       <label class="font-weight-bold text-white fw-bold">¿A dónde vas?</label>
                                       <select name="" id="localizacion" class="form-select mb-3" th:field="*{ciudad}">
                                           <option value="Sevilla">Sevilla</option>
                                           <option value="Cadiz">Cádiz</option>
                                           <option value="Huelva">Huelva</option>
                                           <option value="Almería">Almería</option>
                                           <option value="Huelva">Granada</option>
                                           <option value="Almería">Cordoba</option>
                                       </select>
                                       </form>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- <div class="col-md-4 mb-2 mb-lg-0 col-lg-4">
                            <label for="ciudad" class="font-weight-bold text-white fw-bold">¿A dónde vas?</label>
                            <input type="text" class="form-control" placeholder="Sevilla, Sevilla"th:field="*{ciudad}" id="ciudad">
                         -->
                   </div>
                    <div class="col-md-4 mb-2 mb-lg-0 col-lg-4">

                        <form action="#" th:action="@{/}" th:object="${reservas}" method="post">
                        <label  class="font-weight-bold text-white fw-bold">Check In</label>
                        <form>
                            <input type="date" class="form-control" id="fecha_inicio" th:field="*{fechaInicio}" placeholder="yyyy-MM-dd">
                        </form>
                        </form>
                    </div>
                    <div class="col-md-4 mb-2 mb-lg-0 col-lg-4">

                        <form action="#" th:action="@{/}" th:object="${reservas}" method="post">
                        <label class="font-weight-bold text-white fw-bold">Check Out</label>
                        <form>
                            <input type="date" class="form-control"id="fecha_fin" th:field="*{fechaFin}"  placeholder="yyyy-MM-dd">
                        </form>
                        </form>
                    </div>
            </div>


            <div class="row p-4">

                <div class="col-md-4 mb-3 mb-md-0">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-12 mb-2">
                                <form th:action="@{/}" th:object="${capacidad}" method="post">
                                <label class="font-weight-bold text-white fw-bold">Numeros de personas</label>
                                <select name="" id="adultos" class="form-select mb-3" th:field="*{capacidad}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4 +</option>
                                </select>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-4 mt-sm-0 mt-md-4">
                <input type="submit" value="Buscar" class="btn btn-primary btn-block text-white col-12">
            </div>


        </div>


    </div>

</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>