<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title th:text="${titulo}"></title>
    <link rel="stylesheet"  th:href="@{/styles/index.css}">

</head>
<body>
     <header th:replace="header/header :: header"></header>

     <div th:classappend="'' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
          th:text="${mensaje}"
          class="alert alert-danger">
     </div>

     <div class="imagen-fondo">

         <div class="hijo">

             <form action="#" th:action="@{/hoteles/listar}" th:object="${hotel}" method="get">
                 <div class="container-fluid mt-5">
                     <div class="row">
                         <div class="col-md-2 mb-3 mb-md-0">
                             <label class="font-weight-bold text-white fw-bold">¿A dónde vas?</label>
                             <select name="" id="lugar" class="form-select mb-3" th:field="*{ciudad}" >
                                 <option th:value="Sevilla" th:text="Sevilla">Sevilla</option>
                                 <option th:value="Granada" th:text="Granada">Granada</option>
                                 <option th:value="Huelva" th:text="Huelva">Huelva</option>
                                 <option th:value="Cadiz" th:text="Cadiz">Cádiz</option>
                                 <option th:value="Almeria" th:text="Almeria">Almería</option>
                                 <option th:value="Cordoba" th:text="Cordoba">Cordoba</option>
                                 <option th:value="Jaen" th:text="Jaen">Jaén</option>
                                 <option th:value="Malaga" th:text="Malaga">Málaga</option>
                             </select>
                         </div>
                         <form action="#" th:action="@{/hoteles/listar}" th:object="${reserva}" method="get">
                             <div class="col-md-2 mb-2 mb-lg-0">

                                 <label  class="font-weight-bold text-white fw-bold">Check In</label>

                                 <input type="date" class="form-control" id="fechainicio" th:field="*{fechaInicio}"  placeholder="yyyy-MM-dd" required>


                             </div>
                             <form action="#" th:action="@{/hoteles/listar}" th:object="${reserva}" method="get">
                                 <div class="col-md-2 mb-2 mb-lg-0">
                                     <label class="font-weight-bold text-white fw-bold">Check Out</label>

                                     <input type="date" class="form-control" id="fechafin" min="fechaInicio" th:field="*{fechaFin}" placeholder="yyyy-MM-dd" required>
                                 </div>
                                 <form th:action="@{/hoteles/listar}" th:object="${capacidad}" method="get">

                                     <div class="col-md-3 mb-3 mb-md-0">

                                         <label class="font-weight-bold text-white fw-bold">Numeros de personas</label>
                                         <select name="" id="adultos" class="form-select mb-3" th:field="*{capacidad}" >
                                             <option th:value=1 th:text="1">1</option>
                                             <option th:value=2 th:text="2">2</option>
                                             <option th:value=3 th:text="3">3</option>
                                             <option th:value=4 th:text="4">4</option>

                                         </select>

                                     </div>
                                 </form>
                             </form>
                         </form>
                         <div class="col-md-3 mt-sm-0 mt-md-4 mx-auto">
                             <button type="submit" class="btn btn-primary btn-block text-white">Buscar Hoteles</button>
                         </div>
                     </div>
                 </div>
             </form>

         </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>