<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/styles/registro-login.css}">
    <title th:text="${titulo}" ></title>
</head>
<body>

    <header th:replace="header/header :: header"></header>

    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Iniciar Sesión</h3>
                        <form th:action="@{/login}" method="post">

                            <div class="col-md-12 mt-2">
                                <label for="email">Email</label>
                                <input type="text" name="username" id="email" class="form-control" autofocus required>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control" autofocus required>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary mt-2">Iniciar Sesion</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>