<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Title</title>
    <style type="text/css">
        html, body {
            margin:0px;
            height:100%;
        }
    </style>
</head>
<body>

<header th:replace="header/header :: header"></header>

<div class="container-fluid px-0">
<div class="row me-0">

    <div class="col-2">

        <div class="d-flex flex-column flex-shrink-0 p-3 px-0 bg-light" style="height:100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Dashboard</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                        Perfil de Usuario
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                        Mis reservas
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                        Historial de Viajes
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark" th:href="@{/perfil/mis-hoteles}">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                        Mis Hoteles
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center ms-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://w7.pngwing.com/pngs/659/667/png-transparent-computer-icons-user-profile-blog-others-miscellaneous-rectangle-logo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong th:text="${datosUsuario.nombre}"></strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" th:href="@{/perfil/editar-perfil}">Configuración</a></li>
                    <li><a class="dropdown-item" th:href="@{/perfil/datos}">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form id="logout" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                            <a onclick="document.getElementById('logout').submit();" class="dropdown-item p-1"
                                    type="submit">Cerrar Sesión</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="col-10 p-5">

        <h1 th:text="${titulo}" class="mt-4"></h1>
        <div class="container border border-primary bg-light rounded p-3 shadow mt-4">

            <div class="row">
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">Nombre</span></div>
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">Apellidos</span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.nombre}" class="fs-4"></span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.apellidos}" class="fs-4"></span></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">Correo Electrónico</span></div>
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">Teléfono</span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.email}" class="fs-4"></span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.telefono}" class="fs-4"></span></div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">Nacionalidad</span></div>
                <div class="col-md-6 col"><span class="fs-3 fw-semibold">DNI</span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.nacionalidad}" class="fs-4"></span></div>
                <div class="col-md-6 col"><span th:text="${datosUsuario.dni}" class="fs-4"></span></div>
            </div>
            <div class="row mt-5">
                <div class="col-3">
                    <a class="btn btn-dark" th:href="@{/perfil/editar-perfil}">Editar Perfil</a>
                    <a class="btn btn-dark" th:if="${datosUsuario.getEsHotelero() == false}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ser Hotelero
                    </a>
                </div>
            </div>

        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿ Quieres ser Hotelero ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Si aceptas, podrás resgistrar tu hotel y tener permisos de administrador.
                    ¿ Estás Serguo ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" >Sí, estoy seguro</button>
                </div>
            </div>
        </div>
    </div>

</div>




</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>