<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

        <h1 th:text="${usuario.nombre}"></h1>
        <h1 th:text="${usuario.apellidos}"></h1>
        <h1 th:text="${usuario.telefono}"></h1>
        <h1 th:text="${usuario.email}"></h1>
        <h1 th:text="${usuario.dni}"></h1>


</body>
</html>