
.imagen-fondo {
    background-image: url('../images/florencia.jpg');
    height: 100vh;
    background-size: 100% 100%;
    position: relative;

}


.hijo {
    background-color:rgba(0, 0, 0, 0.5);
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -450px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
    border-radius: 20px;
}